Repository BadwaterBay/intelli-trip-planner: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config '.prettierrc.yml' --write, eslint --config '.eslintrc.yml' --no-eslintrc --cache --fix, shellcheck, black --verbose, pylint

:arrow_up: Upgrade dependencies
  .github/dependabot.yml
  package.json
  poetry.lock
  pyproject.toml
  requirements.txt
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:arrow_up: Upgrade dependencies (#171)
  .github/dependabot.yml
  package.json
  poetry.lock
  pyproject.toml
  requirements.txt
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:wrench: Minor updates on package.json
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:wrench: Minor updates on package.json
  package.json
Due: prettier --config '.prettierrc.yml' --write

:wrench: Minor updates on package.json (#173)
  package.json
Due: prettier --config '.prettierrc.yml' --write

:wrench: Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:wrench: Upgrade dependencies (#176)
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:arrow_up: Upgrade dependencies
  package.json
  poetry.lock
  pyproject.toml
  requirements.txt
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

Re-export requirements.txt
  requirements.txt
Due: none

:arrow_up: Upgrade dependencies (#182)
  package.json
  poetry.lock
  pyproject.toml
  requirements.txt
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

:star: Retire pickle files (for security reasons)
  src/core/find_route.py
  src/core/get_distance_matrix.py
  src/core/helpers/read_write.py
  src/tests/test_get_distance_matrix.py
  src/tests/test_helpers_read_write.py
Due: black --verbose, pylint

:star: Remove existing Pickle files
  src/core/data/parsed_distance_matrix.pkl
  src/tests/test_data/parsed_distance_matrix.pkl
Due: none

Remove unused import of load_parsed_distance_matrix_tuple
  src/tests/test_get_distance_matrix.py
Due: black --verbose, pylint

Fix #105 Retire pickle files because they are unsafe (#183)
  src/core/data/parsed_distance_matrix.pkl
  src/core/find_route.py
  src/core/get_distance_matrix.py
  src/core/helpers/read_write.py
  src/tests/test_data/parsed_distance_matrix.pkl
  src/tests/test_get_distance_matrix.py
  src/tests/test_helpers_read_write.py
Due: black --verbose, pylint

:wrench: Minor updates on config files
  .github/dependabot.yml
  CONTRIBUTING.md
  package.json
Due: prettier --config '.prettierrc.yml' --write

:wrench: Minor updates on config files (#186)
  .github/dependabot.yml
  CONTRIBUTING.md
  package.json
Due: prettier --config '.prettierrc.yml' --write

:hammer: Simplify range(0, x) to range(x)
  src/core/distancematrix/google_distance_matrix.py
Due: black --verbose, pylint

:hammer: Fix #192 Simplify range(0, x) to range(x) in Python (#193)
  src/core/distancematrix/google_distance_matrix.py
Due: black --verbose, pylint

Path conditions:
  prettier --config '.prettierrc.yml' --write: any of: **/*.{html,js,json,md,yaml,yml}
  eslint --config '.eslintrc.yml' --no-eslintrc --cache --fix: any of: **/*.js
  shellcheck: any of: src/**/*.sh
  black --verbose: any of: src/**/*.py
  pylint: any of: src/**/*.py
